<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'gifts/index' %>
  <style type='text/css'>
    body { background: url('<%= current_user.profile_background_image_url %>') #<%= current_user.profile_background_color %> repeat-y } 
  </style>
<% end %>
<% content_for :javascript do %>
  <%= javascript_include_tag 'prototype', 'effects', 'controls' %>
<% end %>
<h1> Give a gift </h1>
<div id='stream'>
  <%= show_flash_messages %>
  <div id='give'>
    <% form_for :gift, :url => gifts_url do |f| %>
      <% @gifts.each do |gift| %>
        <div style='float:left'>
        <%= radio_button_tag 'id', gift.id %>
        <%= image_tag gift.url, :class => "gift" %>
        </div>
      <% end %>
      <p style='clear:both;padding-top:25px;'>
      To: <%= text_field_with_auto_complete :user, :twitter_name %>
      </p>
      <p>
      <%= text_area_tag 'message', "here's a present for you :)", :cols => 45 %>
      </p>
      <%= f.submit "give" %>
    <% end %>
  </div>
  <% if current_user.friends.count == 0 %>
    Still loading your friends
  <% else %>
    <ol class='given'><% current_user.friends_gifts_and_presents.each do |user_gift| %>
      <li class='given'><%= image_tag user_gift.giver.profile_image_url || "", :style => "float:left", :title => user_gift.giver.twitter_name %>
        <span style='margin-left:10px'>@<%= user_gift.receiver.twitter_name %> <%= user_gift.message %></span>
        <%= image_tag user_gift.gift.url, :class => "gift", :style => "float:right" %></li>
    <% end %></ol>
  <% end %>
</div>
<div id='info'>
  <div id='presents'>
    Presents you've received: <br/>
    <% current_user.user_presents.each do |present| %>
      <%= image_tag present.gift.url, :class => "gift", :title => present.giver.twitter_name %>
    <% end %>
  </div>
  <div id='gifts'>
    Gifts you've given: <br/>
    <% current_user.user_gifts.each do |gift| %>
      <%= image_tag gift.gift.url, :class => "gift", :title => gift.receiver.twitter_name %>
    <% end %>
  </div>
</div>
